<!DOCTYPE html>

<html>
    <head>
        <title>Type Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="/css/index.css" rel="stylesheet" type="text/css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>

        <script>
            function finishSignUp() {
                var name = JSON.parse(localStorage.getItem('add_index'));
                //console.log(name);
                clearSignUp();
                var name2 = JSON.parse(localStorage.getItem('new_member'));
                console.log(name2);
                window.location.href = "/user/" +name2[0];
            }
        </script>
        <!-- Start of Woopra Code -->
<script>
  (function(){
    var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
  })("woopra");

  woopra.config({
      domain: 'a10-grouphub.herokuapp.com'
  });
  woopra.track();
</script>
<!-- End of Woopra Code -->

    </head>
    <body>
        <style>
            @media only screen and (min-width: 400px; min-height: 620px){}
        </style>
        <div id="page_container">
            <img style="position: absolute;
                    width: 250px;
                    height: 200px;
                    left: 62px;
                    top: 10px;"
                src="images/logo.jpeg" ... />
            <img style="position: absolute;
                            width: 340px;
                            height: 30px;
                            left: 25px;
                            top: 200px;"
                src="images/dots.jpeg" ... />
            <div class="browse">
                <h3 style="position: absolute;
                    left: 130px;
                    top: 240px;

                    font-family: 'Sniglet Bold', arial;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;

                    color: #000000;">Pick Your Teams</h3>
            </div>

            <!-- data uploaded from 'add_index' and psuedo classes added
                in div class=browse
                
                give list of pre-defined classes for the user page to 
                generate friends list for. Require minimum of one input
                -->
                    
                <input type="submit" id="submitBtn done" class="btn btn-default" 
			        onclick="finishSignUp();" value="" style="position: absolute;
                       width: 70px;
                       height: 40px;
                       left: 270px;
                       top: 570px;

                       background: url(../images/nextArrow.jpeg);">
        </div>
    </body>
    <!-- allow the body to load with teams div and content

        calls initializePage to listen for clicks and append
        to the user in localstr 'add_index'
        -->
    <script src="/js/browse.js"></script>

</html>