<!DOCTYPE html>

<html>
    <head>
        <title>Type Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="/css/index.css" rel="stylesheet" type="text/css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>

        <script>
            function finishSignUp() {
                var name = JSON.parse(localStorage.getItem('add_index'));
                //console.log(name);
                clearSignUp();
                var name2 = JSON.parse(localStorage.getItem('new_member'));
                console.log(name2);
                window.location.href = "/user/" +name2[0];
            }
        </script>

    </head>
    <body>
        <style>
            @media only screen and (min-width: 400px; min-height: 620px){}
        </style>
        <div id="page_container">
            <img style="position: absolute;
                    width: 250px;
                    height: 200px;
                    left: 62px;
                    top: 10px;"
                src="images/logo.jpeg" ... />
            <img style="position: absolute;
                            width: 340px;
                            height: 30px;
                            left: 25px;
                            top: 200px;"
                src="images/dots.jpeg" ... />
            <div class="browse">
                <h3 style="position: absolute;
                    left: 31%;
                    right: 10.4%;
                    top: 38.33%;
                    bottom: 55.92%;

                    font-family: 'Sniglet Bold', arial;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;

                    color: #000000;">Pick Your Teams</h3>
            </div>

            <!-- data uploaded from 'add_index' and psuedo classes added
                in div class=browse
                
                give list of pre-defined classes for the user page to 
                generate friends list for. Require minimum of one input
                -->
                    
                <input type="submit" id="submitBtn done" class="btn btn-default" 
			        onclick="finishSignUp();" value="" style="position: absolute;
                       width: 70px;
                       height: 40px;
                       left: 270px;
                       top: 570px;

                       background: url(../images/nextArrow.jpeg);">
        </div>
    </body>
    <!-- allow the body to load with teams div and content

        calls initializePage to listen for clicks and append
        to the user in localstr 'add_index'
        -->
    <script src="/js/browse.js"></script>

</html>