<!DOCTYPE html>

<html>
    <head>
        <title>{{team}} Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="/css/index.css" rel="stylesheet" type="text/css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>

    </head>
    <body>
        
        <div id="page_container">
            <img style="position: absolute;
                    width: 250px;
                    height: 200px;
                    left: 62px;
                    top: 10px;"
                src="../../../../images/logo.jpeg" ... />
            <img style="position: absolute;
                            width: 340px;
                            height: 30px;
                            left: 25px;
                            top: 200px;"
                src="../../../../images/dots.jpeg" ... />          
            <div class="user">
            </div>
                    
                <input type="submit" id="sumitBtn done" class="btn btn-default" 
			    onclick="history.go(-1); wipe();" value="Save" style="position: absolute;
                                       width: 86px;
                                       height: 35px;
                                       left: 130px;
                                       top: 570px;background: #BADFFF;
                                       border: 1px solid #0A47A2;
                                       box-sizing: border-box;">
        </div>

    </body>
    <script src="/js/edit.js"></script>
</html>