<!DOCTYPE html>

<html>
<head>
	<title>GroupHub</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width height=device-height, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
	<div id="page_container">
			<img style="position: absolute;
					width: 250px;
					height: 200px;
					left: 62px;
					top: 10px;"
				src="images/logo.jpeg" ... />
			<img style="position: absolute;
							width: 340px;
							height: 30px;
							left: 25px;
							top: 200px;"
				src="images/dots.jpeg" ... />
			<div onclick="getElementById('log_in').style.display = 'none'; this.style.display = 'none'">
			<div id="log_in">
				<button id="show_log" style="position: absolute;
											 width: 169px;
											 height: 75px;
											 left: 104px;
											 top: 270px;

											 background: #BADFFF;
											 border: 1px solid #0A47A2;
											 box-sizing: border-box;">Log In</button>
			</div>
			<div id="sign_up">
				<button id="show_sign" style="position: absolute;
											 width: 169px;
											 height: 75px;
											 left: 104px;
											 top: 400px;

											 background: #BADFFF;
											 border: 1px solid #0A47A2;
											 box-sizing: border-box;">Sign Up</button>
			</div>
		</div>
			<img style="position: absolute;
						width: 340px;
						height: 30px;
						left: 19px;
						top: 560px;"
				src="images/dots.jpeg" ... />
		<div class="container hide" id="hide_me_log">
			<form method="POST" action="" id="logBtn">
				<input type="submit" id="submitBtn" class="btn btn-default" onclick="window.location.href = '/';" value="Back" style="position: absolute;
                                       width: 86px;
                                       height: 35px;
                                       left: 20px;
                                       top: 230px;background: #BADFFF;
                                       border: 1px solid #0A47A2;
                                       box-sizing: border-box;"></input>
				<h5 style="position: absolute;
					left: 9%;
					right: 58.4%;
					top: 45.33%;
					bottom: 55.92%;

					font-family: 'Sniglet Bold', arial;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 22px;

					color: #000000;">User Name</h5>
				<input type="text" id="log_username" placeholder="username" style="position: absolute;
					   width: 288px;
					   height: 36px;
					   left: 55px;
					   top: 320px;

					   background: #D4F5E9;
					   border: 1px solid #707070;
					   box-sizing: border-box;">
				<h5 style="position: absolute;
					left: 6%;
					right: 58.4%;
					top: 58.33%;
					bottom: 55.92%;

					font-family: 'Sniglet Bold', arial;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 22px;

					color: #000000;">Password</h5>
				<input type="text" id="log_password" placeholder="password" style="position: absolute;
					   width: 288px;
					   height: 36px;
					   left: 55px;
					   top: 400px;

					   background: #D4F5E9;
					   border: 1px solid #707070;
					   box-sizing: border-box;">
				<input type="submit" id="submitBtn logdata" class="btn btn-default" value="Log In" style="position: absolute;
					   width: 169px;
					   height: 36px;
					   left: 104px;
					   top: 490px;

					   background: #BADFFF;
					   border: 1px solid #0A47A2;
					   box-sizing: border-box;">
			</form>
			
		</div>

		<div class="container hide" id="hide_me_sign">
				<input type="submit" id="submitBtn" class="btn btn-default" onclick="window.location.href = '/';" value="Back" style="position: absolute;
                                       width: 86px;
                                       height: 35px;
                                       left: 35px;
                                       top: 230px;background: #BADFFF;
                                       border: 1px solid #0A47A2;
                                       box-sizing: border-box;"></input>	
				<h5 source media = "max-width: 400px; max-height:617px"style="position: absolute;
					left: 15%;
					right: 30.87%;
					top: 44.33%;
					bottom: 55.92%;

					font-family: 'Sniglet Bold', arial;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 22px;

					color: #000000;">Enter your name: </h5>                                       			
			<form method="POST" action="" id="signBtn">			
				<input type="text" id="sign_name" placeholder="Preferred Name" style="position: absolute;
					   width: 288px;
					   height: 36px;
					   left: 55px;
					   top: 330px;

					   background: #D4F5E9;
					   border: 1px solid #707070;
					   box-sizing: border-box;">
				<input type="submit" id="submitBtn signdata" class="btn btn-default" value="Submit" style="position: absolute;
					   width: 169px;
					   height: 36px;
					   left: 104px;
					   top: 390px;

					   background: #BADFFF;
					   border: 1px solid #0A47A2;
					   box-sizing: border-box;">
			</form>
			
		</div>

	<!-- end of page_container -->	
	</div>

</body>
<script src="js/index.js"></script>
</html>
