<!DOCTYPE html>

<html>
    <head>
        <title>Type Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="/css/index.css" rel="stylesheet" type="text/css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="/js/type.js"></script>

        <script>
            function goBrowse() {
                window.location.href = "/browse";
            }
        </script>

    </head>
    <body>
        
        <div id="page_container">
            <div class="user">
                <h3>Type Name</h3>
                <div>t1</div>
                <div>t2</div>
                <div>t3</div>
                <div>t4</div>
                <div>t5</div>
                <div>t6</div>
            </div>

            <div class="trait_description">
                <h4>Description of Type</h4>
            </div>

            <!-- data uploaded from 'current' and type page inputs
                'current' in div class=user
                'some descriptive data'
                -->
                    
                <input type="submit" id="submitBtn done" class="btn btn-default" 
			        onclick="goBrowse();" value="Browse Groups">
        </div>

    </body>
</html>