<!doctype html>

<html>
    <head>
        <title>{{name}} Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="/css/index.css" rel="stylesheet" type="text/css">
        <link href="/css/introHCI.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
    <body>

        <div id="page_container">
            <img style="position: absolute;
                    width: 250px;
                    height: 200px;
                    left: 62px;
                    top: 10px;"
                src="../images/logo.jpeg" ... />
            <img style="position: absolute;
                            width: 340px;
                            height: 30px;
                            left: 25px;
                            top: 200px;"
                src="../images/dots.jpeg" ... />
            <div>
                <input type="submit" id="submitBtn" class="btn btn-default" onclick="window.location.href = '/';" value="Log Out" style="position: absolute;
                                       width: 86px;
                                       height: 35px;
                                       left: 280px;
                                       top: 7px;background: #BADFFF;
                                       border: 1px solid #0A47A2;
                                       box-sizing: border-box;"></input>
                <input type="submit" id="submitBtn" class="btn btn-default" onclick="window.location.href = '/browse';" value="Add Groups" style="position: absolute;
                                       width: 86px;
                                       height: 35px;
                                       left: 150px;
                                       top: 575px;
                                       padding-left: 5px;
                                       background: #BADFFF;
                                       border: 1px solid #0A47A2;
                                       box-sizing: border-box;"></input>                                       
            </div>
                <h1 style="position: absolute;
                       left: 80px;
                       top: 200px;

                       font-style: normal;
                       font-weight: normal;
                       font-size: 46px;
                       line-height: 64px;

                       color: #000000;">My Groups</h1>
            <div class="container" id="red_box">
            </div>

            <div class="teams">
                <!-- 
                    jQuery will add any group data from log_me_in and new_member
                    Added as a div class and click listener to route to group page
                    -->
            </div>
        </div>
        <img style="position: absolute;
                        width: 340px;
                        height: 30px;
                        left: 19px;
                        top: 540px;"
              src="../images/dots.jpeg" ... />        

    </body>
    <script src="../js/users.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</html>
